[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = true
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

# Remappings
remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
    "@layerzero/=lib/LayerZero-v2/",
    "@solmate/=lib/solmate/src/",
    "forge-std/=lib/forge-std/src/"
]

